
.text-center{
	color:black;
	margin-top: 10px;
	font-weight: bold;
}
h4{
	font-size: 30px;
	padding: 10px;
	margin-bottom: 0;
	color: white;
	text-decoration: none;
}
h3{
	font-weight: bold;
}
img{
	padding: 10px;
}
body{
	background: url(http://www.uniwallpaper.com/static/images/4640301_Zc4ESGi.jpg) no-repeat center center fixed; 
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;

}
.navbar-fixed-bottom{
background-color: #e7e7e7;
}
.navbar {
    margin-bottom: 0;
}
.heading{
	background-color: teal;

}
.menu{
	padding-top:10px;

}
li{
	border-right: 1px solid grey;
	font-size: 15px;
	font-weight: bold;
}
.section1,.section2{
	margin-bottom:100px;
	margin-top: 40px;
}
.form-horizontal{
	margin :0;
}
div.desc{
    background-color: teal;bottom: 10px;
 	color: #fff;
    left: 25px;
    right:25px;
    opacity: 0.5;
    position: absolute;
    display: inline-block;
    z-index: 1;
    text-align: center;

}
.name{
	width:100%;
	height: auto;
}
h5{
	text-align:justify-all; 
	background-color: teal;
	margin-left: 0px;
}

.fix{
    width: auto;
    padding: 0px;
}
.content{
	border-top:4px solid teal;
}
.footer{

	border-top: 4px solid black;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: teal !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: teal;
    color: #FFC0CB;
}
.fa-linkedin-square{
	color:red;
	padding:3px;
}
.fa-github-square{
	color:darkblue;
	padding:3px;
}
.fa-stack-overflow{
	color:orange;
	padding:3px;
}
.fa-facebook-square{
	color: blue;
	padding:3px;
}
.fa-twitter-square{
	color:skyblue;
	padding:3px;
}
.fa-instagram{
	color: maroon;
	padding:3px;
}